
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-outline {
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;  
}

.text-outline-white {
  text-shadow: -0.5px -0.5px 0 #fff,  
                0.5px -0.5px 0 #fff,
               -0.5px  0.5px 0 #fff,
                0.5px  0.5px 0 #fff;  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes scale-in-out {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in-out {
  animation: scale-in-out 0.5s ease-in-out forwards;
}